body,
html {
    height: 100%;
}

.top-bar {
    background-color: #DB4C3F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 16px 5px 18px;
}

.left-control {
    display: flex;
    align-items: center;
}

.home {
    background: transparent;
    border: 0;
    color: white;
    border: none;

    border-radius: 20%/20%;
    margin-left: 5px;
}

.home:hover {
    background-color: #E27065;
}

.app-holder {
    display: flex;
}

.main-content {
    flex-grow: 1;
    background-color: grey;
}

.sidebar {
    min-width: 220px;
    width: 230px;
    max-width: 440px;
    height: 100vh;
    transition: 0.2s;
    display: flex;
    flex-direction: column;
    gap: 15px;


}

.sidebar * {

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar.is-closed {
    margin-left: -100em;
}

.sidebar.is-open {
    margin-left: 0em;
}
.search svg{
    position: absolute;
    top: 10px;
    left: 105px;
    color: white;
}
.search{
    padding-left:10px ;
    
}
.search input{
    padding-left: 40px;
    background-color: #E27065;
    border: 0;
    color: white;
    width:135px;
}
::placeholder{
    color: white;
}
.search:hover input{
    background-color: white;
    
}

.search:hover ::placeholder{
    color: grey;
}
.search:hover svg{
    color: black;
}
.search:hover input{
    color: black;
}
input:focus{
    outline: none;
    width: 40vw !important;
    transition: 0.2s;
}

button:focus{
    outline: none;
}
.menu{
display: flex;
align-content: center;
}
.menu button{
    display: flex;
    align-items: center;
    background:transparent;
    border: 0;
    color: white;
}
.menu :nth-child(2){
    display: flex;
    align-items: center;
    padding-left: 5px;
}
.menu :nth-child(5) {
    width: 40px;
    
}
.menu img{
    border-radius: 50%/50%;
}



@media only screen and (max-width: 800px) {

    .sidebar.is-closed {
        margin-left: 0em;
    }

    .sidebar.is-open {
        margin-left: -100em;
    }
    .search input{
        width: 20px;
    }
    .search input:focus{
        width: 70vw !important;
    }
}