body,
html {
    height: 100%;
}

.top-bar {
    background-color: #DB4C3F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 16px 5px 18px;
}

.left-control {
    display: flex;
    align-items: center;
}

.home {
    background: transparent;
    border: 0;
    color: white;
    border: none;

    border-radius: 20%/20%;
    margin-left: 5px;
}

.home:hover {
    background-color: #E27065;
}

.app-holder {
    display: flex;
}

.main-content {
    flex-grow: 1;
    background-color: white;
}

.sidebar {
    padding: 0px 18px !important;
    min-width: 220px;
    width: 230px;
    max-width: 440px;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    gap: 15px;
background-color: #FAFAFA;

}
.resize-handle--x{
    border-color: #FAFAFA !important;
}
.resize-handle--x:hover{
    background-color: #EEEEEE;
    border-color: #EEEEEE !important;
    width: 5px;
    
}

.sidebar * {

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar.is-closed {
    display: none;
}

.sidebar.is-open {
    display: block;
}

.top-sidebar{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
}

.inbox{
    display: flex;
    padding: 5px;
    border-radius: 10px / 30px;
}
.inbox:hover{
    background-color: #EEEEEE;
}

.inbox :nth-child(1){
color:#246FE0 ;
}
.inbox :nth-child(2){
    flex: 1;
    padding-left: 5px;
}
.inbox :nth-child(3){
padding-right: 5px;
}

.search svg{
    position: absolute;
    top: 10px;
    left: 105px;
    color: white;
}
.search{
    padding-left:10px ;
    
}
.search input{
    padding-left: 40px;
    background-color: #E27065;
    border: 0;
    color: white;
    width:135px;
}
::placeholder{
    color: white;
}
.search:hover input{
    background-color: white;
    
}

.search:hover ::placeholder{
    color: grey;
}
.search:hover svg{
    color: black;
}
.search:hover input{
    color: black;
}
input:focus{
    outline: none;
    width: 40vw !important;
    transition: 0.2s;
}

button:focus{
    outline: none;
}
.menu button:hover {
    background-color: #E27065;
}
.menu{
display: flex;
align-content: center;
}
.menu button{
    display: flex;
    align-items: center;
    background:transparent;
    border: 0;
    color: white;
    border-radius: 20%/20%;
}
.menu :nth-child(2){
    display: flex;
    align-items: center;
    padding-left: 5px;
}
.menu :nth-child(5) {
    width: 40px;
    
}
.menu img{
    border-radius: 50%/50%;
}



@media only screen and (max-width: 800px) {

    .sidebar.is-closed {
        display: block;
    }

    .sidebar.is-open {
        display: none;
    }
    .search input{
        width: 20px;
    }
    .search input:focus{
        width: 70vw !important;
    }
}